body {
  background-color: #1f2833;
}

.title-name {
  color: #66fcf1;
  text-align: left;
}

div.nav {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  align-items: center;
  width: 100%;
}
