body {
  background-color: #1f2833;
}

.title-name {
  color: #66fcf1;
  text-align: left;
  text-align: center;
  margin-left: ;
}

div.nav {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  padding: 0;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.about-header {
  color: rgb(107, 96, 96);
  font-size: 30px;
}

.about-paragraph {
  color: white;
  font-family: Arial;
}
